<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CV</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>

    .container-fluid    {
       width: 100%;
       background: #DADADA;
    }


    .container-fluid img {
        max-width: 100%;
        height: auto;
    }

    .list-group-item {
        background: #DADADA;
        list-style-position: inside;
        }

    li {
       list-style-position: inside;
       }

    .info li {
        list-style: none;
    }
    section {
        padding: 20px 20px;
    }


  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="d-flex p-3 bg-grey">
      <div class="flex-fill">
        <p class="h2">PERSONAL DETAILS</p>
        <ul class="info">
          <li>Name: <strong>Oleg Chornyi</strong></li>
          <li>Residential Address:
            <address>Heroiv Dnipra St., b.83, ap.15, Cherkasy</address>
          </li>
          <li>Mobile: <a href="tel:+380939930914">+38(093) 993 0914</a>,
            <a href="tel:+380683915699">+38(068) 391 5699</a></li>
          <li>E-mail Address: <a href="mailto:olegchornyi82@gmail.com">olegchornyi82@gmail.com</a></li>
          <li>Skype: Oleg Black</li>
        </ul>
      </div>
      <div class="flex-fill">
        <%=image_tag('Photo.jpg') %>
      </div>
    </div>

  <section>
    <p class="h2">CAREER OBJECTIVE</p>

    <p><strong>QA engineer</strong></p>

    <p>I think my skills and experience will become a professional basis for various types of tasks handling. Further development, knowledge improvement and practice will help me become a valuable and useful team player.</p>
  </section>
  <section>
    <p class="h2">WORK EXPERIENCE</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>Oct 2021 – current</p>
        <p>Software engineer (Private entrepreneur)</p>
      </li>
      <li class="list-group-item">
        <p>Apr 2020 – Jun 2021</p>
        <p>Production manager (Private entrepreneur Tomilo V. V., Cherkasy)</p>
      </li>
      <li class="list-group-item">
        <p>Jun 2008 – Mar 2020</p>
        <p>Self-employed (Private entrepreneur)</p>
        <ul>
          <li>Serving customers</li>
          <li>Managing production</li>
          <li>Organizing purchases and planning work process</li>
          <li>Planning and analyzing weekly work results</li>
          <li>Preparing payrolls</li>
          <li>Maintaining accounting documentation</li>
        </ul>
      </li>
      <li class="list-group-item">
        <p>May 2005 – Jun 2008</p>
        <p>Accountant (Private entrepreneur Kulynich N. V., Cherkasy)</p>
      </li>
    </ul>
  </section>
    <section>
      <p class="h2">EDUCATION</p>
      <ul class="list-group">
        <li class="list-group-item">
          <p>Sept 2021 – current</p>
          <p>Ruby On Rails course (Geekhub, Cherkasy)</p>
        </li>
        <li class="list-group-item">
          <p>Sept 2020 – Apr 2021</p>
          <p>Quality Assurance course (Geekhub, Cherkasy)</p>
        </li>
        <li class="list-group-item">
          <p>Sept 2019 – Apr 2020</p>
          <p>Quality Assurance course (Ekreative – Lektorium, Cherkasy)</p>
        </li>
        <li class="list-group-item">
          <p>Sept 2019 – Apr 2020</p>
          <p>Magento 2 course (Default Value, Cherkasy)</p>
        </li>
        <li class="list-group-item">
          <p>Sept 2019 – Apr 2020</p>
          <p>Frontend + JS Online Group course (Geekhub, Cherkasy)</p>
        </li>
        <li class="list-group-item">
          <p>Sept 2018 – Jan 2019</p>
          <p>English Upper-Intermediate Course (Yazlingo, Cherkasy)</p>
        </li>
        <li class="list-group-item">
          <p>Sept 2018 – Dec 2018</p>
          <p>Quality Assurance course (SPD-University, Cherkasy)</p>
        </li>
        <li class="list-group-item">
          <p>Oct 2017 – Apr 2018</p>
          <p>Javascript course (Geekhub, Cherkasy)</p>
        </li>
        <li class="list-group-item">
          <p>Oct 2016 – Apr 2017</p>
          <p>Frontend + CMS course (Geekhub, Cherkasy)</p>
        </li>
        <li class="list-group-item">
          <p>Sep 2000 – June 2005</p>
          <p>Master’s degree in Economy and entrepreneurship (Cherkasy State Technological University)</p>
        </li>
        <li class="list-group-item">
          <p>Sep 1997 – June 2000</p>
          <p>Junior specialist’s degree in Accounting (Cherkasy Banking College)</p>
        </li>
      </ul>
    </section>
    <section>
      <p class="h2">SKILLS</p>

      <p class="h3">Hard Skills:</p>
      <ul>
        <li>Experienced user</li>
        <li>Windows, Linux</li>
        <li>PHP-storm, Web-storm, Avocode, Sublime text</li>
        <li>Basic knowledge of HTML, CSS, Wordpress, EcmaScript, git</li>
        <li>MSOffice, Chrome, Google-tools, Email clients</li>
        <li>Skype, Slack, TeamViewer</li>
        <li>Jira, TestRail, Airtable</li>
      </ul>
      <p class="h3">Soft Skills:</p>
      <ul>
        <li>Self-disciplined and punctual, scrupulous when it comes to the quality of the work done</li>
        <li>Quite fast learning, thorough in getting to know new concepts, technologies.</li>
        <li>A good team player, friendly and helpful, ready to compromise if it makes sense, creative in problem handling.</li>
        <li>Positive and honest, self-critical.</li>
      </ul>
      <p class="h3">Language Skills:</p>
      <ul>
        <li>Ukrainian – native</li>
        <li>Russian – native</li>
        <li>English – Upper-Intermediate</li>
        <li>German – Beginner</li>
        <li>Chinese - Beginner</li>
        <li>Turkish - Beginner</li>
      </ul>
    </section>
    <section>
      <p class="h2">INTERESTS AND ACTIVITIES</p>
      <ul>
        <li>Reading</li>
        <li>self-education</li>
        <li>yoga</li>
        <li>English course</li>
        <li>bicycle</li>
        <li>traveling</li>
        <li>concert events</li>
        <li>intellectual games –  National Quiz, Easy Quizzy and Dream_Team Game (as team’s captain)</li>
        <li>volleyball</li>
        <li>soccer</li>
      </ul>
    </section>
   </div>
 </body>
</html>